<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>총있음쐈다</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/carousel.css" rel="stylesheet">
  <link href="css/full-slider.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"> 총있음쐈다</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#section1">시작
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section2">배경</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section3">시발점</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section4">발단</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section5">결론</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section6">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section7">구조</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="section1">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('http://image.chosun.com/sitedata/image/201806/24/2018062401533_0.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>대한민국 vs 스웨덴</h3>
            <p>2018 러시아 월드컵, 장현수의 몸을 사리지 않는 태클</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://www.slist.kr/news/photo/201806/37781_99447_2956.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>대한민국 vs 독일</h3>
            <p>2018 러시아 월드컵, 다급한 노이어</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://sccdn.chosun.com/news2/html/2011/11/05/2011110501000348700028951.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>침대 축구</h3>
            <p>너도 나도 침대</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container marketing">
    <hr class="featurette-divider" id="section2">
    <!-- Three columns of text below the carousel -->

    <h2 class="featurette-heading">배경 : 11.07. 아이디어 회의</h2>
    <hr />
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="img/byeongjun.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>김병준</h2>
        <p>점심/커피/산책 팔이
          눈치게임
          봉
          유언장
          현상수배
          심부름해줄사람 아무것도하기싫다 프리허그</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="img/heekyeom.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>김희겸</h2>
        <p>블랙박스영상올리는사이트
          성우인력시장제공
          더빙사이트
          매너모드온
          야근왕 gps로 출퇴근 체크
          나만그런가?
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="img/binsan.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>송빈산</h2>
        <p>뭐하려고했지
          색드립왕
          딴지걸기 싸우고싶을때 개빡침 순위
          어그로 대회 - 최고의 관심종자를 가린다
          파파라치 - 현상수배</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-4 col-centered">
        <img class="rounded-circle" src="img/seokhyeon.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>윤석현</h2>
        <p>스포츠 마사지해줄사람
          봉사활동
          남자대회/여자대회
          뒷담화대회/앞담까기
          스포일러대회
          흑두루미대회 누가누가성시경</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-centered">
        <img class="rounded-circle" src="img/taehan.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>서태한</h2>
        <p>총있음쐈다
          블랙홀 빠져나갈수없는 사진
          우산남는사람 찌질썰배틀 성대모사 얼굴변천사 상황극</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" id="section3">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">이란, 스페인 상대 7분 만에 '침대 축구' <span class="text-muted">…코스타 골 없었다면?</span></h2>

      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="http://spnimage.edaily.co.kr/images/photo/files/NP/S/2018/07/PS18070900034.jpg"
          alt="Generic placeholder image" align="right">
      </div>
      <p class="lead">[이데일리 김은총 기자] 이란의 악명높은 ‘침대 축구’는 2018 러시아 월드컵에서도 어김없이 이어졌다.

        21일(한국시간) 러시아 카잔 아레나에서는 이란과 스페인의 조별리그 B조 2차전 경기가 펼쳐졌다. 스페인보다 상대적인 열세로 평가되는 이란의 전략이 궁금했던 경기였다.

        관심을 모았던 이란의 침대 축구는 전반 7분 만에 나왔다. 스로인을 받는 과정에서 세르히오 라모스에게 밀침을 당한 사르다르 아즈문이 그대로 쓰러진 것이다.

        심판은 경기를 중단시키고 라모스에게 주의를 줬지만, 라모스는 어깨를 으쓱하며 잘 모르겠다는 제스처를 취했다. 아즈문은 심판이 스페인의 반칙을 선언하자 곧바로 일어났다.

        22분에는 라모스를 막던 사에드 에자톨라히가 손을 들며 쓰러졌다. 경기가 속행되자 잠깐 일어나 세르히오 부스케츠의 돌파를 막은 에자톨라히는 심판이 이란의 반칙을 선언하자 다시 쓰러져 약 1분30초간
        일어나지 못했다. 36분에는 스페인의 코너킥 과정에서 동료와 부딪힌 에산 하지사피가 쓰러졌다. 다리를 부여잡고 고통을 호소하는 것이 햄스트링 부상을 의심케 했다. 들것이 들어올 때까지 약 2분간
        누워있던 하지사피는 절뚝거리며 경기장 밖으로 나갔다가 아무렇지 않게 곧바로 뛰어들어왔다.

        ...이하 중략...</p>
    </div>

    <hr class="featurette-divider" id="section4">


    <div class="row featurette">

      <div class="col-lg-4 order-md-1">
        <img class="rounded-circle" src="img/seokhyeon.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>???</h2>
      </div>
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"> : 와 근데 이거 솔직히 　　　 <span class="text-muted"> 총 있었으면 쐈다</span></h2>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">

      <div class="col-lg-4 order-md-1">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image" width="140" height="140">
        <h2>???</h2>
      </div>
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"> : 총있음쐈다? </h2>
      </div>
    </div>



    <hr class="featurette-divider" id="section5">

    <div class="row featurette">
      <div class="col-md-6">
        <h2 class="featurette-heading text-center">그래서 결론 </h2>
        <hr class="featurette-divider">
        <h3 class="featurette-contents text-muted text-center">아무에게나 총 쏘고 싶을 때 </h3>
        <hr class="featurette-divider">
        <h3 class="featurette-contents text-muted text-center">쏠 수 있는 서비스</h3>
      </div>
      <div class="col-md-6">
        <h2 class="featurette-heading text-center"> 원하는 반응 </h2>
        <hr class="featurette-divider">
        <h3 class="featurette-contents text-muted text-center">뭘 이런걸 만들었지? </h3>
        <hr class="featurette-divider">
        <h3 class="featurette-contents text-muted text-center">근데 왤케 고퀄임ㅋㅋㅋ </h3>
      </div>
    </div>

    <hr class="featurette-divider" id="section6">

    <div class="row featurette">
      <div class="col-lg-12">
        <h2 class="my-4">우리 팀</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" src="img/heekyeom.jpg" alt="">
        <h2>김희겸
          <small>CEO</small>
        </h2>
        <p>역할 : AWS 배포, 얼굴인식 API 관리</p>
        <p>좋아하는일 : 열정, 팀원 채찍질</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" src="img/binsan.jpg" alt="">
        <h2>송빈산
          <small>CTO</small>
        </h2>
        <p>역할 : 서버 관리, 이미지 처리</p>
        <p>좋아하는일 : 일 줄이기</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" src="img/yongjae.jpg" alt="">
        <h2>함용재
          <small>건물주</small>
        </h2>
        <p>역할 : 애니메이션 제작, UI 디자인</p>
        <p>특징 : 사무실 제공, 사랑꾼</p>
      </div>
      <div class="col-lg-12">
        <h2 class="my-4">도움 주실 분들</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" src="img/byeongjun.jpg" alt="">
        <h2>김병준
          <small>기술 자문</small>
        </h2>
        <p>특징 : 現 앙상블 메이커스 CTO</p>
        <p>역할 : 기술 제공</p>
        <p>좋아하는일 : 자랑, 생색</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" src="img/taehan.jpg" alt="">
        <h2>서태한
          <small>아이디어 자문</small>
        </h2>
        <p>역할 : 추가 기능 아이디어 제공 </p>
        <p>좋아하는일 : 주식</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" src="img/seokhyeon.jpg" alt="">
        <h2>윤석현
          <small>디자인 자문</small>
        </h2>
        <p>역할 : UI 아이디어 제공</p>
        <p>좋아하는일 : 아무말</p>
      </div>
    </div>
    <hr class="featurette-divider" id="section7">
    <div class="col-lg-12">
      <h2 class="my-4">이렇게 만들게요</h2>
    </div>
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">프론트</h4>
        </div>
        <div class="card-body">
          <img src="img/front.png" alt="">
          <p>이미지 캡쳐(총 쏘기), 랭킹 조회, 설정 등</p>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">서버</h4>
        </div>
        <div class="card-body">
          <img src="img/server.png" alt="">
          <p>서버, 피격 횟수 카운팅 등 </p>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">얼굴인식</h4>
        </div>
        <div class="card-body">
          <img src="img/face.png" alt="">
          <p>얼굴 인식, 유명인 판별, 유사도 분석</p>
        </div>
      </div>
    </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 三合會</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/vendor/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function () {
      // Add scrollspy to <body>
      $('body').scrollspy({
        target: ".navbar",
        offset: 50
      });

      // Add smooth scrolling on all links inside the navbar
      $("#myNavbar a").on('click', function (event) {
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function () {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>

</body>

</html>
